
.DS_Store
MagicCFG.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
MagicCFG.xcodeproj/xcuserdata/janfabel.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MagicCFG.xcworkspace/xcshareddata/swiftpm/Package.resolved
MagicCFG.xcworkspace/xcuserdata/j4nf4b3l.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MagicCFG.xcworkspace/xcuserdata/janfabel.xcuserdatad/UserInterfaceState.xcuserstate
MagicCFG.xcworkspace/xcuserdata/janfabel.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
MagicCFG/.DS_Store
MagicCFG/Assets.xcassets/.DS_Store
MagicCFG/en.lproj/.DS_Store
MagicCFG/exploits/Fugu_8010/.DS_Store
MagicCFG/zh-HK.lproj/.DS_Store
